@import url(bootstrap.min.css);
.color-upstream {
  color: #ff8b00; }

.color-manufacturing {
  color: #b8bfc9; }

.color-downstream {
  color: #00bff5; }

.d-flex.row {
  margin: 0; }

#header {
  width: 960px;
  margin: 0 auto;
  font-size: 0.75em;
  padding: 2em 1.8em;
  background: #f6f7f9; }
  #header h1 {
    font-size: 1.95em;
    font-weight: 700;
    margin-bottom: 0.5em; }
  #header h4 {
    font-size: 1.25em; }
  #header .key {
    display: inline-block;
    height: 0.5em;
    width: 2.5em;
    margin-right: 0.5em; }
    #header .key.key-upstream {
      background-color: #ff8b00; }
    #header .key.key-manufacturing {
      background-color: #b8bfc9; }
    #header .key.key-downstream {
      background-color: #00bff5; }
    #header .key.key-notAvailable {
      background-color: #686667; }
  #header .lists {
    line-height: 2; }

.filterContainer {
  background: #f6f7f9;
  padding: 1em 0 1.5em 0; }
  @media (min-width: 1600px) {
    .filterContainer {
      margin-bottom: 0.5em;
      padding: 0.33em 0 0.5em 0;
      background: #fff; } }

#filters {
  width: 960px;
  padding: 0 3em;
  margin: 0 auto; }
  @media (min-width: 1600px) {
    #filters {
      padding: 1em 0;
      width: 1200px; } }

#chart {
  margin: 2em auto 0 auto; }
  #chart .yAxis {
    pointer-events: none; }

#footer {
  width: 960px;
  margin: 1em auto 0 auto;
  text-align: left;
  font-size: 0.75em;
  padding: 0 1.8em 2em 1.8em;
  font-weight: 600; }
  #footer .logo {
    width: 115px; }
    #footer .logo.logo-spry {
      width: 108px; }
  #footer #footer-img {
    max-height: 10em;
    width: auto; }

#header, #footer {
  padding: 3em 4em 1em 4em; }
  @media (min-width: 1600px) {
    #header, #footer {
      background: #fff;
      opacity: 0.8;
      max-height: 1200px;
      padding: 0;
      margin: 0; }
      #header > .row, #footer > .row {
        margin: 0 auto;
        align-content: center;
        width: auto; } }

#tooltip {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  width: 850px;
  padding: 15px 10px 8px 10px;
  font: 12px sans-serif;
  background: #f6f7f9;
  border: 1px #999 solid; }
  #tooltip h3 {
    font-size: 1.5em;
    margin: 0; }
  #tooltip h4 {
    font-size: 1.1em;
    margin: 0; }
  #tooltip h5 {
    font-size: 1.125em;
    margin: 0; }
  #tooltip .row-eq-height img {
    vertical-align: text-bottom;
    height: 1.25em;
    margin-right: 0.25em; }
  #tooltip .stats {
    padding: 0.75em 1.25em;
    background-color: #fff;
    border: 3px #f6f7f9 solid; }
    #tooltip .stats > div {
      padding: 0.5em 0; }
  #tooltip .finePrint {
    font-size: 0.7em; }
  #tooltip .increase {
    font-weight: 700;
    color: #f32033; }
  #tooltip .decrease {
    font-weight: 700;
    color: #097625; }

.deltaCircle {
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em; }
  .deltaCircle.increase {
    background-color: #f32033; }
  .deltaCircle.decrease {
    background-color: #097625; }

select.form-control {
  font-weight: 600;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #fdfdfd 21%, #fafafa 50%, #fdfdfd 80%, #fafafa 100%);
  background: -webkit-linear-gradient(top, white 0%, #fdfdfd 21%, #fafafa 50%, #fdfdfd 80%, #fafafa 100%);
  background: linear-gradient(to bottom, white 0%, #fdfdfd 21%, #fafafa 50%, #fdfdfd 80%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
  padding-right: 3em;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none; }

.select-wrapper:before, .select-wrapper:after {
  position: absolute;
  font-size: 1.5em;
  pointer-events: none; }

.select-wrapper:before {
  content: '|';
  color: #CCCCCC;
  top: -0.1rem;
  right: 2.9rem;
  font-weight: 100; }

.select-wrapper:after {
  content: '';
  top: 0.75rem;
  right: 1.08rem;
  height: 1.10rem;
  width: 1.10rem;
  display: inline-block;
  background: url("../img/chevron.png") no-repeat;
  background-size: contain; }
