#filters {
  width: 960px;
  margin: 0 auto 50px auto;
}

#tooltip {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  width: 480px;
  padding: 20px 15px 30px 15px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px #999 solid;
}
