$light-grey: #CCCCCC;
$mid-grey: #767676;
$background-grey: #f6f7f9;
$upstream: #fd8d00;
$manufacturing: #755270;
$downstream: #949fbd;
$notAvailable: #686667;

$max-width: 960px;

#filters {
  width: $max-width;
  margin: 0 auto 50px auto;
}

#header {
  font-size: 0.75em;
  padding: 2em 1.8em;
  margin-bottom: 1em;
  background: $background-grey;

  h1 {
    width: $max-width;
    font-size: 1.95em;
    font-weight: 700;
    margin-bottom: 0.5em
  }

  h4 {
    font-size: 1.25em;
  }

  .key {
    display: inline-block;
    height: 0.5em;
    width: 2.5em;
    margin-right: 0.5em;
    &.key-upstream {
      background-color: $upstream;
    }
    &.key-manufacturing {
      background-color: $manufacturing;
    }
    &.key-downstream {
      background-color: $downstream;
    }
    &.key-notAvailable {
      background-color: $notAvailable;
    }
  }
}

#footer {
  width: $max-width;
  text-align: left;
  font-size: 0.75em;
  padding: 0 1.8em 2em 1.8em;
  font-weight: 600;

  .logo {
    background: url("../img/logo-coclear.jpg") no-repeat;
    background-size: contain;
    width: 7rem;
    height: 3em;
  }
}

#tooltip {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  width: 470px; // Half svg width - 10px for padding
  padding: 20px 15px 30px 15px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px #999 solid;

  h4 {
    font-size: 1.25em;
    margin: 0;
  }

  h5 {
    font-size: 1.125em;
    margin: 0;
  }
}

select.form-control {
  font-weight: 600;

  // Background
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 21%, rgba(250,250,250,1) 50%, rgba(253,253,253,1) 80%, rgba(250,250,250,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,253,253,1) 21%,rgba(250,250,250,1) 50%,rgba(253,253,253,1) 80%,rgba(250,250,250,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(253,253,253,1) 21%,rgba(250,250,250,1) 50%,rgba(253,253,253,1) 80%,rgba(250,250,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );

  // Prep for custom arrow
  padding-right: 3em;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // Get rid of bootstrap focus state
  &:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
  }

}

// Cheat to add in a stylized arrow and line on select boxes
.select-wrapper:before, .select-wrapper:after {
  position: absolute;
  font-size: 1.5em;
  pointer-events: none;
}

.select-wrapper:before {
  content: '|';
  color: $light-grey;
  top: -0.1rem;
  right: 2.9rem;
  font-weight: 100;
}

.select-wrapper:after {
  content: '';
  top: 0.75rem;
  right: 1.08rem;
  height: 1.10rem;
  width: 1.10rem;
  display: inline-block;
  background: url("../img/chevron.png") no-repeat;
  background-size: contain;
}

