@import "bootstrap.min.css";
$light-grey: #CCCCCC;
$mid-grey: #767676;
$background-grey: #f6f7f9;
$upstream: #ff8b00;
$manufacturing: #b8bfc9;
$downstream: #00bff5;
$notAvailable: #686667;
$increase: #f32033;
$decrease: #097625;
$max-width: 960px;

// Add xxl breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1700px
);

.d-flex.row {
  margin: 0;
}

#header {
  width: $max-width;
  margin: 0 auto;
  font-size: 0.75em;
  padding: 2em 1.8em;
  background: $background-grey;

  h1 {
    font-size: 1.95em;
    font-weight: 700;
    margin-bottom: 0.5em
  }

  h4 {
    font-size: 1.25em;
  }

  .key {
    display: inline-block;
    height: 0.5em;
    width: 2.5em;
    margin-right: 0.5em;
    &.key-upstream {
      background-color: $upstream;
    }
    &.key-manufacturing {
      background-color: $manufacturing;
    }
    &.key-downstream {
      background-color: $downstream;
    }
    &.key-notAvailable {
      background-color: $notAvailable;
    }
  }

  .lists {
    line-height: 2;
  }
}

.filterContainer {
  background: $background-grey;
  padding: 1em 0 1.5em 0;

  @media (min-width : 1600px) {
    margin-bottom: 0;
  }
}

#filters {
  width: $max-width;
  padding: 0 3em;
  margin: 0 auto;

  @media (min-width : 1600px) {
    padding: 1em 0;
    width: 1200px;
  }
}

#chart {
  margin: 2em auto 0 auto;

  .yAxis {
    pointer-events: none;
  }
}

#footer {
  width: $max-width;
  margin: 1em auto 0 auto;
  text-align: left;
  font-size: 0.75em;
  padding: 0 1.8em 2em 1.8em;
  font-weight: 600;

  .logo {
    background: url("../img/logo-coclear.jpg") no-repeat;
    background-size: contain;
    width: 7rem;
    height: 3em;
  }
}

#header, #footer {
  padding: 3em 4em 1em 4em;

  @media (min-width : 1600px) {
    background: $background-grey;
    max-height: 1200px;
    padding: 0;
    margin: 0;
    > .row {
      margin: 0 auto;
      align-content: center;
      width: auto;
    }
  }
}

#tooltip {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  width: 470px; // Half svg width - 10px for padding
  padding: 15px 15px 8px 15px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px #999 solid;

  h4 {
    font-size: 1.25em;
    margin: 0;
  }

  h5 {
    font-size: 1.125em;
    margin: 0;
  }

  .lists {
    line-height: 1.75em;
  }

  .col-emissions {
    font-size: 0.9em;
  }

  .row-finePrint {
    font-size: 0.6em;
  }
}

.deltaCircle {
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;

  &.increase {
    background-color: $increase;
  }

  &.decrease {
    background-color: $decrease;
  }
}

select.form-control {
  font-weight: 600;

  // Background
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 21%, rgba(250,250,250,1) 50%, rgba(253,253,253,1) 80%, rgba(250,250,250,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,253,253,1) 21%,rgba(250,250,250,1) 50%,rgba(253,253,253,1) 80%,rgba(250,250,250,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(253,253,253,1) 21%,rgba(250,250,250,1) 50%,rgba(253,253,253,1) 80%,rgba(250,250,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );

  // Prep for custom arrow
  padding-right: 3em;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // Get rid of bootstrap focus state
  &:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
  }

}

// Cheat to add in a stylized arrow and line on select boxes
.select-wrapper:before, .select-wrapper:after {
  position: absolute;
  font-size: 1.5em;
  pointer-events: none;
}

.select-wrapper:before {
  content: '|';
  color: $light-grey;
  top: -0.1rem;
  right: 2.9rem;
  font-weight: 100;
}

.select-wrapper:after {
  content: '';
  top: 0.75rem;
  right: 1.08rem;
  height: 1.10rem;
  width: 1.10rem;
  display: inline-block;
  background: url("../img/chevron.png") no-repeat;
  background-size: contain;
}
