iframe#coclear-cdp-chart {
  width: 960px;
  height: 1600px;
  margin-top: -70px;
}

@media (max-width: 400px) {
  iframe#coclear-cdp-chart {
    margin-left: -15px;
    -ms-zoom: 0.38;
    -moz-transform: scale(0.38);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.38);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.38);
    -webkit-transform-origin: 0 0;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  iframe#coclear-cdp-chart {
    margin-left: -16px;
    -ms-zoom: 0.38;
    -moz-transform: scale(0.42);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.42);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.42);
    -webkit-transform-origin: 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  iframe#coclear-cdp-chart {
    margin-left: -16px;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  iframe#coclear-cdp-chart {
    margin-left: -20px;
  }
}

@media (min-width: 1280px) {
  iframe#coclear-cdp-chart {
    margin-left: -24px;
    margin-top: 0px;
    -ms-zoom: 1.06;
    -moz-transform: scale(1.06);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.06);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.06);
    -webkit-transform-origin: 0 0;
  }
}

.page-title {display: none}

/* .page-titles--descriptions .main-content-wrapper {
  padding-top: 0px;
  margin-top: -30px;
} */
